body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8; /* Fond légèrement plus clair que le header */
    margin: 0;
    padding: 0;
}

.dark {

    background-color: black;
   
    color: white;
   
   }
header {
    background: linear-gradient(to right, #ffad33, #f8f8f8); /* Dégradé d'orange à blanc */
    color: #4c4c4c; /* Brun foncé */
    text-align: center;
    padding: 20px 0;
}



h1 {
     
        font-size: 2em; /* Taille de la police plus grande */
        color: rgb(230, 89, 23); /* Couleur du texte */
        text-transform: uppercase; /* Convertit le texte en majuscules */
        letter-spacing: 2px; /* Espacement entre les lettres */
        margin-bottom: 20px; /* Marge inférieure pour plus d'espace */
    
}



li span img {
    width: 40px; /* Ajustez la largeur selon vos besoins */
    height: auto; /* Cela maintient le rapport hauteur/largeur */
    margin-right: 5px; /* Espace entre l'image et le texte */
}

.catalogue {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.article {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

.article:hover {
    background: linear-gradient(to left, #ffad33, #f8f8f8)
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center; */
}


.article img {
    max-width: 100%;
    height: 60%;
    border-radius: 8px;
}

h3 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
}

.price {
    color: #777;
}

.availability {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.available {
    background-color: #ffcc66; /* Orange clair pour la disponibilité */
    color: #fff;
    cursor: pointer;
}

.unavailable {
    background-color: #d9534f;
    color: #fff;
}

.sale-banner img {
    width: 100%;
    max-width: 100%;
    height: 400px;
}
/* ------------------------------------------- */

nav {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-radius: 8px; /* Coins arrondis pour le bandeau */
    border: solid rgb(251, 206, 169);
    
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    /* position: relative; */
}
nav span a {
    color: #333;
   
}

nav:hover {
    background-color: #333;
}

nav:hover span a {
    color: white;
}




nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    background-color: #333;
}

nav li {
    display: inline;
}


nav li:hover ul {
    display: block;
    padding: 0px;
    margin-top: 10px;
    
}



nav ul li {
    display: block;
    margin: 20px 67px 20px 0; 
}

nav ul li:hover {
    background-color: whitesmoke;
    border-radius: 18px; 
}



 nav ul li:hover a {
    color: black;
    

   
} 
