/* Styles pour la page du panier */
.cart-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cart-item {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

.cart-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

h3 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
}

.price {
    color: #777;
}
/* Autres styles nécessaires pour la page du panier */
